<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>7Belasan</title>
  <meta name="description" content="Merayakan semangat kemerdekaan Indonesia pada peringatan nasional 17 Agustus 2023. Bergabunglah dalam upacara bendera, pengibaran bendera merah putih, dan penghormatan kepada para pahlawan. Satukan persatuan dan nasionalisme kita dalam momen bersejarah ini. Ayo hadir dan tunjukkan cintamu pada tanah air!">
  <meta content="" name="keywords">
  <meta property="og:image" content="/assets/img/HUT RI 78_Logo Utama (Warna).png">


  <!-- Favicons -->
  <link href="/assets/img/HUT RI 78_Logo Utama (Warna).png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href="index.html" class="scrollto"><img src="/assets/img/HUT RI 78_Logo Utama (Warna).png" alt="" title=""></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#speakers">Speakers</a></li>
          <li><a class="nav-link scrollto" href="#schedule">Schedule</a></li>
          <li><a class="nav-link scrollto" href="#venue">Venue</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a class="loginout scrollto" href="/signupform/">Login</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">TERUS MELAJU UNTUK<br><span>INDONESIA</span> MAJU</h1>
      <p class="mb-4 pb-0">17 Agustus 2023, Istana Negara, Jakarta Pusat</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto"> 7Belasan</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

<!-- ======= About Section ======= -->
<section id="about">
  <div class="container position-relative" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6">
        <h2>Tentang 7Belasan</h2>
        <p>Peringatan nasional 17 Agustus 2023. Merayakan semangat kemerdekaan dengan upacara bendera, pengibaran bendera merah putih, dan penghormatan kepada para pahlawan. Mempererat persatuan dan nasionalisme. Ayo hadir dan tunjukkan cintamu pada tanah air!</p>
      </div>
      <div class="col-lg-3">
        <h3>Tempat</h3>
        <p>Istana Negara, Jalan Veteran, no. 17, Jakarta Pusat, Indonesia</p>
      </div>
      <div class="col-lg-3">
        <h3>Waktu</h3>
        <p>Kamis,<br>17 Agustus 2023</p>
      </div>
    </div>
  </div>
</section><!-- End About Section -->

   <!-- ======= Bagian Pemimpin Upacara ======= -->
<section id="speakers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Inspektur Upacara</h2>
    </div>
    <div class="row justify-content-center">
      <!-- Gambar Tengah -->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="200">
          <img src="/assets/img/speakers/jkwdd.jpg" alt="Speaker 3" class="img-fluid">
          <div class="details">
            <h3><a href="speaker-details.html">Joko Widodo</a></h3>
            <p>Presiden Indonesia</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Akhir Gambar Tengah -->
    </div>
  </div>
</section>
<!-- Selesai Bagian Pemimpin Upacara -->


<!-- Bagian Jadwal Acara -->
<section id="schedule" class="section-with-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Jadwal Acara</h2>
      <p>Ini adalah jadwal acara kami</p>
    </div>

    <!-- Tab Navigasi -->
    <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
      <li class="nav-item">
        <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Hari 1</a>
      </li>
    </ul>

    <!-- Sub Judul -->
    <h3 class="sub-heading">Selamat datang pada peringatan Hari Kemerdekaan Nasional! Berikut ini adalah jadwal lengkap kegiatan yang telah disusun untuk hari ini.</h3>


    <!-- Konten Jadwal -->
    <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

      <!-- Jadwal Hari 1 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

        <!-- Berkumpul -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>07:00 AM</time></div>
          <div class="col-md-10">
            <h4>Apel Pagi</h4>
            <p>Pukul 07:00 pagi, kami mengundang Anda semua untuk hadir pada apel pagi sebagai tanda dimulainya hari peringatan kemerdekaan Indonesia. Ini adalah waktu untuk berkumpul bersama dalam semangat kebangsaan dan persatuan.</p>
          </div>
        </div>

        <!-- Dimulainya Kegiatan -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>08:00 AM</time></div>
          <div class="col-md-10">
            <h4>Dimulainya Kegiatan</h4>
            <p>Pada pukul 08:00 pagi, rangkaian acara peringatan kemerdekaan akan dimulai. Ini adalah saat yang dinantikan untuk menghormati perjuangan para pahlawan dan merayakan semangat nasionalisme.</p>
          </div>
        </div>

        <!-- Pengibaran Bendera -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>09:00 AM</time></div>
          <div class="col-md-10">
            <h4>Pengibaran Bendera</h4>
            <p>Pukul 09:00 pagi, acara puncak yakni pengibaran bendera merah putih akan berlangsung. Momen ini melambangkan semangat kemerdekaan dan kebanggaan sebagai negara merdeka. Kami mengundang semua peserta untuk hadir dan bersama-sama mengangkat bendera dengan hormat.</p>
          </div>
        </div>

        <!-- Acara Selesai -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM</time></div>
          <div class="col-md-10">
            <h4>Acara Selesai</h4>
            <p>Pukul 10:00 pagi, rangkaian acara peringatan kemerdekaan hari ini akan berakhir. Kami berterima kasih kepada semua yang telah hadir dalam acara ini, dan semoga semangat kemerdekaan tetap menyala dalam hati kita.</p>
          </div>
        </div>

        <!-- Tambahkan kegiatan lainnya untuk Hari 1 di sini -->

      </div>
      <!-- Selesai Jadwal Hari 1 -->

    </div>
  </div>
</section>
<!-- Selesai Bagian Jadwal Acara -->




    <!-- ======= Venue Section ======= -->
    <section id="venue">

      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Lokasi Tempat Acara</h2>
          <p>Informasi Lokasi Tempat Acara dan Galeri</p>
        </div>

        <div class="row g-0">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.7224053429454!2d106.82137527472327!3d-6.167914993819374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f567d8adcb6f%3A0xde490e60a9a44e65!2sIstana%20Negara!5e0!3m2!1sid!2sid!4v1691477923573!5m2!1sid!2sid" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Istana Negara, Jakarta Pusat</h3>
                <p>Istana Negara adalah tempat resmi aktivitas pemerintahan Indonesia. Terletak di Jakarta, tempat ini merupakan pusat keputusan negara dan kediaman resmi Presiden. Simbol kekuasaan dan budaya, Istana Negara mewakili pentingnya tatanan pemerintahan.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Venue Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Pertanyaan Umum (F.A.Q)</h2>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">
            <ul class="faq-list">
              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Apa itu peringatan hari nasional 17 Agustus? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Peringatan hari nasional 17 Agustus adalah perayaan penting di Indonesia untuk memperingati hari kemerdekaan negara. Pada tanggal 17 Agustus 1945, Indonesia mendeklarasikan kemerdekaannya dari penjajahan.
                  </p>
                </div>
              </li>
              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Apa saja kegiatan yang biasanya dilakukan dalam peringatan 17 Agustus? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Kegiatan dalam peringatan 17 Agustus meliputi upacara bendera, pengibaran bendera merah putih, lomba-lomba tradisional, dan acara perayaan nasional lainnya. Tujuannya adalah untuk merayakan semangat patriotisme dan persatuan.
                  </p>
                </div>
              </li>
              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Mengapa tanggal 17 Agustus dipilih sebagai hari kemerdekaan Indonesia? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Tanggal 17 Agustus dipilih sebagai hari kemerdekaan Indonesia karena pada tanggal tersebut pada tahun 1945, Proklamasi Kemerdekaan Indonesia diumumkan oleh para pemimpin nasional, seperti Soekarno dan Hatta.
                  </p>
                </div>
              </li>
              <!-- Tambahkan pertanyaan dan jawaban lainnya di sini -->
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End F.A.Q Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Alamat</h3>
              <address>Istana Negara, Jalan Veteran, no. 17, Jakarta Pusat, Indonesia</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Nomor Telepon</h3>
              <p><a href="tel:+155895548855">+62 1234 5678 9101</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">muhammadnuradlialghifhari@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="/assets/img/HUT RI 78_Logo Utama (Putih).png" alt="TheEvenet">
            <p>7Belasan adalah situs web uji coba yang dirancang untuk menunjukkan berbagai fitur desain dan fungsionalitas. Konten dan informasi yang diberikan di situs ini hanya untuk tujuan demonstrasi dan tidak mewakili produk atau layanan yang sebenarnya.</p>
          </div>
          

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Istana Negara, <br>
              Jalan Veteran, no. 17, Jakarta Pusat,<br>
              Indonesia <br>

              <strong>Phone:</strong> +62 1234 5678 9101<br>
              <strong>Email:</strong> muhammadnuradlialghifhari@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.instagram.com/na_athenaa/?hl=id" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div> 

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>7Belasan</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://www.instagram.com/na_athenaa/?hl=id">Nur Adli</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>