<!DOCTYPE html>
<html>
<head>
  <title>Message Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Tambahkan meta viewport untuk responsifitas -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <style>
    .centered-card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999999;
    }

    .card-success {
      border: 2px solid #17a2b8;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
    }

    .card-error {
      border: 2px solid #dc3545;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
    }

    .custom-button {
      background-color: #17a2b8;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .custom-button:hover {
      background-color: #138496;
    }

    /* Tambahkan gaya untuk perangkat seluler */
    @media (max-width: 768px) {
      .card-title {
        font-size: 24px; /* Ukuran font judul */
      }

      .card-body {
        font-size: 18px; /* Ukuran font konten */
      }

      .custom-button {
        padding: 10px 20px; /* Ukuran tombol */
      }
    }
  </style>
</head>
<body>
  <div class="centered-card">
    <div class="card <%= info %>">
      <div class="card-body">
        <h1 class="card-title text-center">Message</h1>
        <div class="py-3"><%= msg %></div>

        <a href="<%= url %>">
          <button class="btn btn-primary w-100">Next</button>
        </a>
      </div>
    </div>
  </div>

  <script src="/public/assets//vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
